# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt specific
build-*     # Ignore build directories
*.pro.user  # Ignore Qt project user settings files
*.qbs.user  # Ignore Qbs project user settings files
*.qgs       # Ignore Qt Creator files
*.qmlc      # Ignore compiled QML files
*.moc       # Ignore Qt Meta-Object Compiler files
*.qm        # Ignore Qt message files

